:root {
  --color-primary: #e3b748;
  --color-black: #121212;
  --color-white: #fff;
  --color-gray: #1d1d1d;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: #111111;
  font-family: "Poppins", sans-serif;
  color: var(--color-white);
  /* overflow: auto; */
  overflow-y: auto;
}

img,
svg {
  display: block;
  max-width: 100%;
}

.swiper-slide {
  width: auto !important;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}
